@font-face {
  font-family: 'Source Serif Pro Regular';
  src: url(../assets/fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Serif Pro SemiBold';
  src: url(../assets/fonts/Source_Serif_Pro/SourceSerifPro-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Serif Pro Bold';
  src: url(../assets/fonts/Source_Serif_Pro/SourceSerifPro-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Work Sans Light';
  src: url(../assets/fonts/Work_Sans/WorkSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Work Sans';
  src: url(../assets/fonts/Work_Sans/WorkSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Work Sans SemiBold';
  src: url(../assets/fonts/Work_Sans/WorkSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Work Sans Bold';
  src: url(../assets/fonts/Work_Sans/WorkSans-Bold.ttf) format('truetype');
}

html, body {
  background: #F6F6F6;
  font-family: "Work Sans";
  color: #000000;
  height: 100%;
  width: 100%;
}

.start-test-container {
  height: 100%;
  width: 100%;
}

.title {
  text-align: center;
  font-family: "Work Sans Light";
  font-size: 16px;
  letter-spacing: 0;
  color: #009D90;
  opacity: 1;
}

.page-subtitle {
  text-align: center;
  font-family: "Source Serif Pro";
  font-size: 40px;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  padding: 30px 21%;
}

.start-test-div {
  width: 914px;
  height: 176px;
  background: white;
  border-radius: 6px;
  opacity: 1;
  margin: 0 5%;
}

button {
  width: 200px;
  height: 60px;
  background: #009D90;
  border-radius: 4px;
  opacity: 1;
  border: none;
  font-size: 16px;
  font-family: "Work Sans";
  letter-spacing: 0;
  color: #FFFFFF;
}

.options span {
  text-align: left;
  font-size: 18px;
  font-family: "Work Sans";
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}

hr {
  width: 88px;
  height: 2px;
  background: #F8C73E;
  border-radius: 1px;
  opacity: 1;
}

select{
  background-image: none !important;
}

.error {
  color: #DA3236 !important;
}

#connectivity_status_container, #quality_status_container, #hardware_setup_container, .connectivity_tests {
  border-bottom: 1px solid #D4D4D4;
  padding: 0 30.5px 30.5px 30.5px;
  min-width: 768px;
  width: 100%;
}

.audio, .video {
  width: 50%;
}

#hardware-setup {
  width: 100%;
}

.results {
  height: 20em;
}

.graph {
  padding: 1em 5em;
}

.connectivity-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto;
}

button:disabled {
  background: #D9D9D9;
  color: #AEAEAE;
}
